<%= link_to "Add a New product", new_product_path, class: 'btn btn-success' %>
<hr />
<table class="table table-bordered table-striped">
  <%= search_form_for @q do |f| %>
    <thead>
      <tr>
        <th width="5"></th>
        <th>
          <%= f.search_field :name_cont, class: 'form-control', placeholder: 'Name Keyword' %>
        </th>
        <th>
          <%= f.select :category_id_eq, @category_options, {include_blank: true}, class: 'form-control' %>
        </th>
        <th colspan="2"><%= f.submit 'Search', class: 'btn btn-info btn-block' %></th>
      </tr>
      <tr>
        <th width="5">No</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Price</th>
        <th width="5%"></th>
      </tr>
    </thead>
  <% end %>
  <tbody>
    <% @products.to_a.each.with_index do |product, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= product.name %></td>
        <td><%= product.category.try(:category) %></td>
        <td><%= to_rupiah(product.price) %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'View', product_path(product), class: 'dropdown-item' %>
              <%= link_to 'Add Stock', update_stock_product_path(product), class: 'dropdown-item' %>
              <%= link_to 'Edit', edit_product_path(product), class: 'dropdown-item' %>
              <%= link_to 'Remove', product_path(product), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'dropdown-item'%>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>