<table>
  <tr>
    <td rowspan="7" width="20%">
      <% if @product.image.attached? %>
        <% url = @product.image %>
      <% else %>
        <% url = 'https://dummyimage.com/200x300/737373/ffffff&text=No+Image' %>
      <% end %>
      <%= image_tag url, class: 'rounded float-left img-thumbnail', style: 'max-height: 300px;' %>
    </td>
  </tr>
  <tr>
    <td><h1><%= @product.name %></h1></td>
  </tr>
  <tr>
    <td><h6><%= @product.try(:category).try(:category) %></h6></td>
  </tr>
  <tr>
    <td><h6>Stock <%= @product.stock %></h6></td>
  </tr>
  <tr>
    <td><h2><strong><%= to_rupiah(@product.price) %></strong></h2></td>
  </tr>
  <tr>
    <td><%= link_to 'Add To Cart', '#', class: 'btn btn-success' %></td>
  </tr>
  <tr>
    <td><hr /> <%= @product.descriptions %></td>
  </tr>
</table>
<br />
<% if current_user && current_user.is_admin? %>
  <%= button_to 'Remove', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
