<h3>Add Stock Product</h3>
<hr />
<div class='row justify-content-lg-center'>
  <div class="col col-lg-5">
    <%= form_for :product, url: stock_update_product_path(@product), method: :patch do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: 'Name', class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= form.label :new_stock, 'Total additions' %>
        <%= form.number_field :new_stock, placeholder: 'Total Stock', class: 'form-control' %>
      </div>
      <%= form.submit 'Submit', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>